* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
  section {
    position: relative;
    padding: 100px 0;
  }
  .text-warning {
    color: #c8a165 !important; 
  }
  .border-warning {
    border-color: #c8a165 !important;
  }
  .btn-danger {
    background-color: #c8a165; 
    border-color: #c8a165;
  }
  
  .btn-danger:hover {
    background-color: #b28d57; 
    border-color: #b28d57;
  }
/* Hero Section Styling */
.hero-header {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url('img/about2.jpg') no-repeat center center / cover ;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.hero-header::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6); /* Dark overlay */
  z-index: 1;
}

/* Heading and Breadcrumb Styling */
.hero-header h1,
.hero-header nav {
  position: relative;
  z-index: 2;
  color: #ffc107;
}

.hero-header h1 {
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 1rem;
  opacity: 0;
  transform: translateY(30px);
  animation: fadeInUp 1.2s ease-out forwards;
}

.hero-header nav {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 1.2s ease-out 0.3s forwards;
}

.breadcrumb {
  background: transparent;
  padding: 0;
  margin: 0;
}

.breadcrumb-item a {
  color: #ffc107;
  text-decoration: none;
  transition: color 0.3s ease;
}

.breadcrumb-item a:hover {
  color: #fff;
}

.breadcrumb-item.active {
  color: #fff;
}

/* Keyframes for Subtle Fade-In-Up Animation */
@keyframes fadeInUp {
  0% {
      opacity: 0;
      transform: translateY(30px);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}


  .image-stack {
    position: relative;
  }
  
  .scroll-animate {
    opacity: 0;
    transform: translateX(50px); 
    transition: all 0.6s ease;
  }
  
  .scroll-animate.fade-right {
    transform: translateX(-50px);
  }
  
  .scroll-animate.fade-left {
    transform: translateX(50px);
  }
  
  .scroll-animate.visible {
    opacity: 1;
    transform: translateX(0);
  }
  .wrapper-main {
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative; 
    overflow: hidden; 
}

.wrapper-main video {
    width: 100%;
    height: 100vh; 
    object-fit: cover;
    z-index: 1;
}

.video-overlay::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(24, 13, 7, 0.7), rgba(24, 13, 7, 0.9)); 
    z-index: 2;
}

/* Position the Content */
.video-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #b8aea4; 
    text-align: center;
    z-index: 3; 
}

/* Make It Pretty */
.video-content h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
    animation: fadeInDown 1s ease-in-out;
}

.video-content p {
    font-size: 1.25rem;
    margin-bottom: 1.5rem;
    color: #f9f6ef;
    animation: fadeInUp 1s ease-in-out;
}

.video-content button {
    padding: 10px 20px;
    border: none;
    background-color: #7e6956;
    color: #f9f6ef;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.video-content button:hover {
    background-color: #b8aea4;
    color: #180d07;
    transform: scale(1.1);
}

@keyframes fadeInDown {
    0% { opacity: 0; transform: translateY(-20px); }
    100% { opacity: 1; transform: translateY(0); }
}

@keyframes fadeInUp {
    0% { opacity: 0; transform: translateY(20px); }
    100% { opacity: 1; transform: translateY(0); }
}

.animated-section {
    opacity: 0;
    transform: translateY(50px) scale(0.95);
    filter: blur(5px);
    transition: none;
}

.animated-section.visible {
    animation: advancedFadeIn 1.2s ease-out forwards;
}

@keyframes advancedFadeIn {
    0% {
        opacity: 0;
        transform: translateY(50px) scale(0.95);
        filter: blur(5px);
    }
    50% {
        opacity: 0.6;
        transform: translateY(25px) scale(1.02);
        filter: blur(2px);
    }
    100% {
        opacity: 1;
        transform: translateY(0) scale(1);
        filter: blur(0);
    }
}



/* team */
.text-animate,.team-item{
    opacity: 0; 
    transform: translateY(50px); 
    transition: opacity 0.8s ease, transform 0.8s ease;
  }
  
  .team-item {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    padding: 15px;
    position: relative;
    overflow: hidden;
  }
  .team-item.show,.text-animate.show {
    opacity: 1; 
    transform: translateY(0);
  }
  .team-item:hover {
    transform: translateY(-5px);
    padding-bottom: 40px;
  }
  
  .team-img {
    width: 180px;
    height: 190px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
    transition: transform 0.3s, opacity 0.3s;
  }
  
  .team-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease, opacity 0.3s ease;
  }
  
  .team-item:hover .team-img img {
    transform: scale(1.2);
  }
  
  .team-item h5 {
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
  }
  
  .team-item small {
    display: block;
    color: #6c757d;
  }
  
  .social-icons {
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
  }
  
  .team-item:hover .social-icons {
    opacity: 1;
    visibility: visible;
  }
  
  .btn-square {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #007bff;
    color: #fff;
    transition: background-color 0.3s, transform 0.3s;
  }
  
  .btn-square:hover {
    background-color: #0056b3;
    transform: scale(1.1);
  }


.site {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fcf8f3;
  }
  
  .cont {
    max-width: 1100px;
    width: 100%;
    padding: 0 30px;
    margin: 0 auto;
  }
  
  .testi {
    max-width: 900px;
    margin: 0 auto;
  }
  
  .testi .head {
    text-align: center;
    margin-bottom: 60px;
  }
  
  .testi .head h3 {
    font-size: 34px;
    font-weight: 800;
    color: #180d07; 
  }
  
  .testi .head p {
    color: #7e6956; 
    font-size: 18px; 
  }
  
  .testi .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    padding: 30px 0;
  }
  
  .testi .thumbnail {
    width: 150px;
    height: 150px;
    position: relative;
    flex-shrink: 0;
    z-index: 1;
  }
  
  .testi .thumbnail img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transform: scale(2);
    transition: transform 0.5s;
  }
  
  .testi .swiper-slide-active .thumbnail img {
    transform: scale(1);
  }
  
  .testi .thumbnail::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: calc(100% + 30px);
    height: calc(100% + 10px);
    background-color: #b8aea4;
    border-radius: 33% 67% 50% 50% / 50% 14% 86% 50%;
    z-index: 0;
    transition: all 0.5s ease;
  }
  
  .testi .swiper-slide-active .thumbnail::before {
    border-radius: 50%;
    background-color: #7e6956; 
    transform: scale(1.1);
  }
  
  .testi .aside > p {
    font-size: 16px; 
    line-height: 1.6;
    color: #180d07; 
    margin-bottom: 30px;
  }
  
  .testi .aside .name h4 {
    font-size: 22px;
    font-weight: 800;
    color: #180d07; 
  }
  
  .testi .aside .name p {
    font-size: 14px; 
    color: #7e6956; 
  }
  
  .testi :is(.swiper-button-next, .swiper-button-prev) {
    background-color: #b8aea4; 
    top: 35%;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    transition: background-color 0.3s;
  }
  
  .testi :is(.swiper-button-next, .swiper-button-prev):hover {
    background-color: #7e6956; 
  }
  
  .testi :is(.swiper-button-next, .swiper-button-prev)::after {
    font-size: 16px;
    font-weight: 800;
    color: #f9f4f1;
  }
  
  .testi .swiper-pagination span {
    background-color: #7e6956;
  }
  
  .testi .swiper-pagination .swiper-pagination-bullet-active {
    width: 26px;
    border-radius: 4px;
    background-color: #b8aea4; 
  }
  .row{
    display: flex;
    flex-wrap: wrap;
  }
  .team-item {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    padding: 15px;
    position: relative;
    overflow: hidden;
  }
  @media (max-width: 990px) {
    .row {
      row-gap: 30px;
    }
  }
@media screen and (min-width:768px){
    .testi .wrapper{
        flex-direction: row;
        padding: 30px 100px ;
    }
    .testi .thumbnail{
        width: 200px;
        height: 200px;
    }
    .testi :is(.swiper-button-next, .swiper-button-prev){
        top: 50%;
    }
    .testi .swiper-slide-active .name{
        transform: translateX(-15px);
    }
}
